# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.a
bin
lib

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
/.project

# generated cmake files #
#########################
*CMakeCache.txt
*.log
*.make
*.cmake
CMakeFiles
Makefile
*Dir

/build/*
docs/doxygen/
# clangd files #
################
.cache/
