name: Docs

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set version from CHANGELOG
      run: |
        VERSION=$(grep -m1 '^[0-9]' CHANGELOG.md | sed 's/ .*//')
        sed -i "s/^PROJECT_NUMBER.*/PROJECT_NUMBER         = $VERSION/" docs/Doxyfile

    - name: Doxygen Action
      uses: mattnotmitt/doxygen-action@v1
      with:
        working-directory: "docs/"
        doxyfile-path: "./Doxyfile"


    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/doxygen/html
